#!/bin/sh
cd ${0%/*} || exit 1

# Manually create doxygen links for module documentation

for dir in cfmesh/meshLibrary
do
    [ -d "../$dir" ] && ln -svf ../$dir ${dir##*/}
done

#------------------------------------------------------------------------------
