# git-ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.

# editor and misc backup files - anywhere
*~
.*~
*.orig
*.bak
\#*\#
.directory

# CVS recovered versions - anywhere
.#*

# objects and archives - anywhere
*.[oa]
*.la
*.so
*.jar

# ignore derived files
lex.yy.c

# Corefiles
core

# dependency files - anywhere
*.dep

# lnInclude (symlink) folders - anywhere
lnInclude

# build folder(s) - anywhere
linux*Gcc*/
linux*Icc*/
linuxming*/
SiCortex*Gcc*/
solaris*Gcc*/
SunOS*Gcc*/

# all of the wmake wmkdep and dirToString binaries
wmake/bin

# doxygen generated documentation
doc/[Dd]oxygen/html
doc/[Dd]oxygen/latex
doc/[Dd]oxygen/man

# source packages - anywhere
*.tar.bz2
*.tar.gz
*.tar
*.tgz
*.gtgz

# ignore the persistent .build tag in the main directory
/.build

# ignore .timeStamp in the main directory
/.timeStamp

# ignore .tags in the main directory
/.tags

# end-of-file
