/* tabs styles, based on http://www.alistapart.com/articles/slidingdoors */

div.tabs
{
    float           : left;
    width           : 100%;
    margin-bottom   : 2px;
    padding-bottom  : 6px;
}

div.tabs ul
{
    margin          : 0px;
    padding-left    : 0px;
    border-right    : 1px solid #84B0C7;
    list-style      : none;
}

div.tabs li, div.tabs form
{
    display         : inline;
    margin          : 0px;
    padding         : 0px;
}

div.tabs form
{
    float           : left;
    padding         : 0px 9px;
}

div.tabs a
{
    float           : left;
    font-size       : 12px;
    font-weight     : bold;
    text-decoration : none;
    border-right    : 1px solid #000000;
}

div.tabs a:hover
{
    background-position: 100% -150px;
}

div.tabs a:link, div.tabs a:visited, div.tabs a:active, div.tabs a:hover
{
    color           : #000000;
}

div.tabs span
{
    float           : left;
    display         : block;
    padding         : 0px 9px;
    white-space     : nowrap;
}

div.tabs input
{
    float           : right;
    display         : inline;
    font-size       : 12px;
}

div.tabs td
{
    font-size       : 12px;
    font-weight     : bold;
    text-decoration : none;
}

/* Commented backslash hack hides rule from IE5-Mac \*/
div.tabs span { float : none; }
/* End IE5-Mac hack */

div.tabs a:hover span
{
    background-position: 0% -150px;
}

div.tabs li#current a
{
    border-width    : 0px;
    border-right    : 1px solid #000000;
    color           : #0000ff;
}

div.tabs li#current span
{
    padding-bottom  : 0px;
}

div.nav
{
    background      : none;
    border          : none;
    border-bottom   : 1px solid #000000;
}

